.accountsettings {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.accountsettings h1 {
    padding: 10px 20px;
}

.accountsettings .form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
}

.accountsettings .form .form-group {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 10px;
}

.accountsettings .form .form-group label {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 5px;
}
