.legalnotice {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 20px;
}

.legalnotice h1 .mainhead {
    align-items: center;
    justify-content: center;
}

.legalnoticein {
    margin: 20px;
    flex-wrap: wrap;
}

.legalnoticein h2 {
    align-items: center;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}

.legalnoticein p {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}