.Filter {
    justify-content: center;
    display: flex;
    margin-top: 100px;
    height: 80px;
}

.Type {
    flex: 1;
    width: 100px;
    text-align: center;
}
.Buttons {
    flex: 1;
}
.Other {
    padding-left: 2rem;
    padding-right: 2rem;
    padding: 1rem;
    margin-left: 15px;
    flex: 1;
    background-color: white;
    color: black;
    padding: 10px 20px;
}

.None {
    flex: 1;
    color: black;
    text-align: right;
    padding-right: 100px;
    align-items: center;
}